:root {
  --head-text-color: #212121;
  --paragraph-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-font-weight: 700;
  --paragraph-font-weight: 400;
  --primary-font-size: 14px;
}

body {
  background-color: var(--primary-white-color);
  color: var(--paragraph-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: var(--primary-font-size);
  font-weight: var(--paragraph-font-weight);
  letter-spacing: 0.03em;
}

/*GENERAL STYLES*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.section-title {
  font-weight: var(--title-font-weight);
  font-size: 36px;
  line-height: 1.67;
  text-align: center;

  color: var(--head-text-color);
}

/*LOGO*/

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: var(--title-font-weight);
  font-size: 26px;
  line-height: 1.19;

  color: #000000;
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

/*HEADER*/

.site-nav .link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--head-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.contacts .link {
  font-weight: 500;
  line-height: 1.14;

  letter-spacing: 0.02em;

  color: var(--paragraph-text-color);
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/*HERO*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
  background-color: #2f303a;
}

.order {
  font-family: inherit;
  font-weight: var(--title-font-weight);
  font-size: 16px;
  line-height: 1.87;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-white-color);
  background: var(--accent-color);
}

/*FEATURES BLOCK*/

.features-title {
  font-weight: var(--title-font-weight);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--head-text-color);
}

.features-text {
  line-height: 1.71;
}

/*TEAM*/

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--head-text-color);
}

.member-prof {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  color: var(--paragraph-text-color);
}

/*FOOTER*/

.footer {
  background-color: #000000;
}

.footer .logo {
  color: var(--primary-white-color);
}

.address {
  font-style: normal;
  line-height: 1.71;

  color: var(--primary-white-color);
}

.footer .link {
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
}

/*PORTFOLIO*/

.filter-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;

  color: var(--head-text-color);
  background: #f5f4fa;
}

.filter-item:hover,
.filter-item:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.project {
  font-weight: var(--title-font-weight);
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: var(--head-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.87;

  color: var(--paragraph-text-color);
}
